p {
    font-size: 1.4em;
    font-family: $main-font;
    line-height: 1.4;
    width: 64rem;
    margin-bottom: 1.96rem;
    margin: 1.96rem auto;
}

h1,
h2,
h3 {
    font-family: $header-font;
}