/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    color:#ccc;
    border-top: 4px solid #416b97;
    background-color: #1a1b1c;
    padding: 2rem 6rem;
}

.footer a {
    color: #fff;
}

.footer .social {
    font-size: 2rem;
}