@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Source+Sans+Pro:wght@700&display=swap');

$old-fashioned-font: 'Merriweather', serif;
$modern-font: 'Source Sans Pro', sans-serif;
$base-line-height: 1.4;
$base-font-size: 2rem;

@mixin line-height-and-font-size {
    line-height: $base-line-height;
    font-size: $base-font-size;
}

.old-fashioned {
    font-family: $old-fashioned-font;
    @include line-height-and-font-size;
}

.modern {
    font-family: $modern-font;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include line-height-and-font-size;
}

.worst-ever {
    @include line-height-and-font-size;
    line-height: 0.7;
    letter-spacing: -3px;
    background-color: rgb(91, 138, 226);
    color: rgb(222, 101, 87);
    padding: 1rem;
}