body {
    background-color: $background-color;
    color: $font-color;
    padding-top: 0;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    width: 60%;
    height: auto;
    padding: 1em;
    margin: 0 auto;
    flex: 1 0 auto;
    padding-bottom: 2em;
}

.header, .footer {
    flex: 0 0 auto;
}

.rapport-page a {
    color: $rapportlink;
}

.rapport-page a:hover {
    color: $rapporthover;
}

.rapport-color {
    color: $colorsquare1;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.5em;
}

.image-container {
    flex: 0 0 auto; 
    margin-right: 4.4em; 
    margin-top: 2em;
}

.text-container {
    flex: 0 0 auto;
    text-align: center;
    width: 500px;
}

.text-container h1 {
    margin-bottom: 10px;
}

.intro{
    font-size: 2.9em;
    padding-bottom: 0.3em;
    letter-spacing: 1px;
    font-family: $title-text;
}

@media (max-width: 767px) {
    .intro{
        font-size: 2em;
        padding-top: 0.7em;
        padding-bottom: 0.6em;
        letter-spacing: 1px;
        font-family: $title-text;
    }

    .main {
        width: 500px;
        height: auto;
        padding: 0.6em;
    }

    .profile-image {
        display: none;
    }

    .image-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .main {
        width: 400px;
    }

    .text-container {
        width: 400px;
    }
}