/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    color: $footertext;
    font-family: $title-text;
    border-top: 4px solid $headerfooterborder;
    animation: footerBackground 8s linear infinite;
    padding: 1.7rem 6rem 0.8rem;
    width: 100%;
}


@keyframes footerBackground {
    0% {
        background-color: #1a2446;
    }
    33% {
        background-color: #1a4046;
    }
    66% {
        background-color: #163c3c;
    }
    100% {
        background-color: #1a2446;
    }
}

.footer {
    a {
        color: $footertext;
    }

    a:hover{
        color: #728e8c;
    }
    
    .social {
        font-size: 2rem;
        padding: 5px;
    }
}

.social a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .footer p {
        display:none;
    }
    .social{
        margin:auto;
    }
    .social a {
        padding: 5px;
    }
}