body {
    font-family: sans-serif;
    line-height: 1.4;
    color: #000;
}

p {
    font-family: $main-font;
    margin-bottom: 1.4rem;
    font-size: 1.1em;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: $header-font;
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}
