

$header-font: 'Roboto Condensed', sans-serif;
$main-font: 'Frank Ruhl Libre', serif;

$font-color: #000;
$font-alternative-color: #c3d3e3;
$background-color: rgb(215, 230, 255);
$background-alternative-color: #e0f2fc;

$headerfooterborder: #0d59aa;
$headercolor: rgb(45, 45, 45);
$navhover: rgb(120, 143, 173);
$navhover2: #6fa2f9;

$footertext: #9aa8c5;
