

$header-font: 'Roboto Condensed', sans-serif;
$main-font: 'Frank Ruhl Libre', serif;

$font-color: #b4c0d2;
$font-alternative-color: #84a8c5;
$titlecolor: #c1d2e2;
$background-color: #0e1015;
$background-alternative-color: #bfd6e3;

$headerfooterborder: #036c59;
$headercolor: #1e2125;
$footercolor: #1e2125;
$navhover: #777da8;
$navhover2: #526996;
$rapportlink: #102f37;
$rapporthover: #253b73;

$footertext: #9aa8c5;

$colorsquare1: #0d0d0f;