

$header-font: 'Roboto Condensed', sans-serif;
$main-font: 'Frank Ruhl Libre', serif;
$title-text: 'Felipa', serif;

$font-color: #091033;
$font-alternative-color: #3eda99;
$titlecolor: #95edc8;
$background-color: #d5e7fa;
$background-alternative-color: #fff;

$headerfooterborder: #036c59;
$headercolor: #1a2446;
$footercolor: #1a2446;
$navhover: #798e80;
$navhover2: #718bcd;
$rapportlink: #102f37;
$rapporthover: #253b73;

$codecolor: #ebeff3;
$codetext: rgb(19, 35, 34);
$footertext: #a2dbc5;

$colorsquare1: #0d0d0f;


